/*CSS*/
body {

}

.wrapper {
 
}

.container {
}

.header {
  margin-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
    background-color: red;
    color: white;
}

h1 {
 
}
p {

}
.description {
    margin-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
}
.img
{

}
.nav{
    display: inline-block;
  font-size: 2rem;
  height: 3rem;
  line-height: 1.7;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}